{% if item.image %}
  {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
  <a
    href="{{ item.url }}"
    aria-hidden="true"
    tabindex="-1"
    class="w-1/3"
  >
    <img
      src="{{ item.image | image_url: width: 400 }}"
      alt="{{ item.image.alt | escape }}"
    >
  </a>
{% endif %}
